<div class="modal">

    <!-- Modal header bar -->
    <ion-header-bar class="bar-secondary">
    <h1 class="title">New Checklist</h1>
    <button class="button button-clear button-positive" ng-click="closeNewChecklist()">Cancel</button>
</ion-header-bar>

<!-- Modal content area -->
<ion-content>

<form ng-submit="createChecklist(checklist)">
    <div class="list">
        <label class="item item-input">
            <input type="text" placeholder="Name" ng-model="checklist.title">
        </label>
        <label class="item item-input">
            <input type="text" placeholder="Description" ng-model="checklist.description">
        </label>
    </div>
    <div class="padding">
        <button type="submit" class="button button-block button-positive">Create Checklist</button>
    </div>
</form>

</ion-content>

</div>