<ion-view title="Checklists" left-buttons="leftButtons">
  <ion-nav-buttons side="right">
      <button class="button button-clear icon ion-ios-plus-outline" ng-click="newChecklist()"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <ion-list>
      <ion-item ng-repeat="(key, checklist) in checklists" class="item item-icon-right item-avatar" ui-sref="main.tabs.checklist({checklistId: key})">
        <img src="https://scontent-lga3-1.xx.fbcdn.net/hphotos-xap1/v/t1.0-0/c0.0.50.50/p50x50/11229899_10153461353534930_6648475697616430253_n.jpg?oh=88579c098bbeb6cb512add463898ee44&oe=5688DA0E">
        {{checklist.title}}
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
