<ion-view title="{{selectedChecklist.title}}" left-buttons="leftButtons">
  <ion-nav-buttons side="left">
    <button ng-show="selectedChecklist" class="button button-clear icon ion-navicon-round" ng-click="selectChecklist()" side="left"></button>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <button class="button button-clear icon ion-search" ng-click="searchItems()" side="right"></button>
  </ion-nav-buttons>

  <ion-content>
  <ion-list ng-hide="selectedChecklist">
  <ion-item ng-repeat="checklist in checklists" class="item item-icon-right item-avatar" ng-click="setCurrentChecklist(checklist)">
  <img src="https://scontent-lga3-1.xx.fbcdn.net/hphotos-xap1/v/t1.0-0/c0.0.50.50/p50x50/11229899_10153461353534930_6648475697616430253_n.jpg?oh=88579c098bbeb6cb512add463898ee44&oe=5688DA0E">
  {{checklist.title}}
  <i class="icon ion-chevron-right icon-accessory"></i>
  </ion-item>
</ion-list>
<ion-list ng-show="selectedChecklist">
  <div ng-repeat="(key, group) in selectedChecklist.itemGroups">
    <ion-item class="item-stable"
    ng-click="toggleGroup(group)"
    ng-class="{active: isGroupShown(group)}">
    <i class="icon" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus'"></i>
    &nbsp;
    {{group.title}}
  </ion-item>
  <ion-item class="item-accordion"
  ng-repeat="item in group.items"
  ng-show="isGroupShown(group)">
  {{item.title}}
</ion-item>
</ion-content>
</ion-view>
