<ion-view title="Teams" left-buttons="leftButtons" ng-controller="TeamCtrl">
  <ion-nav-buttons side="right">
    <button class="button button-clear icon ion-ios-plus-outline" ng-click="newTeam()"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <ion-list>
      <div class="item item-divider">
        My Teams
      </div>
      <ion-item ng-repeat="teamId in user.teams" class="item item-icon-right item-avatar">
        {{teams.$getRecord(teamId).name}}
        <i class="icon ion-chevron-right"></i>
      </ion-item>
    </ion-list>
    <ion-list>
      <div class="item item-divider">
        All Teams
      </div>
      <ion-item ng-repeat="team in teams | filter:user.teams" class="item item-icon-right item-avatar">
        {{team.name}}
        <i class="icon ion-chevron-right"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
